
PIDEV_project/PIDEV_project-ear/pom.xml
PIDEV_project/PIDEV_project-ear/src/main/application/target/m2e-wtp/ear-resources/META-INF/application.xml
PIDEV_project/PIDEV_project-ear/pom.xml
PIDEV_project/PIDEV_project-ejb/src/main/resources/META-INF/ejb-jar.xml
PIDEV_project/PIDEV_project-web/.metadata/src/main/webapp/WEB-INF/faces-config.pageflow
